<!DOCTYPE html>
<html>
<head>
	<title>春天钙走走</title>
	<meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="x-ua-compatible" content="IE=edge" />
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.mobile-events.min.js"></script>
	<script src="js/fastclick.js"></script>
	<style>
		@-ms-viewport { width:device-width; }
		@media only screen and (min-device-width:800px) { html { overflow:hidden; } }
		html { height:100%; }
		body { height:100%; overflow:hidden; margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#FFFFFF; background-color:#000000; }
		#start_cover {
			position: fixed;
			width: 100%;
			height: 100%;
			background: url(img/cover.png) center center no-repeat;
			background-size: cover;
			z-index: 5000;
		}
		#start_btn {
			position: absolute;
			left: 35.2%;
			bottom: 3%;
			width: 29.6%;
			height: auto;
			display: block;
		}
	</style>
</head>
<body>

<script src="tour.js"></script>

<div id="start_cover">
	<img id="start_btn" src="img/start_btn.png" />
</div>

<div id="pano" style="width:100%;height:100%;">
	<noscript><table style="width:100%;height:100%;"><tr style="vertical-align:middle;"><td><div style="text-align:center;">ERROR:<br/><br/>Javascript not activated<br/><br/></div></td></tr></table></noscript>
	<script>
		embedpano({swf:"tour.swf", xml:"tour.xml", target:"pano", html5:"prefer", initvars:{design:"flat"}, passQueryParameters:true});
		$(document).ready(function() {
			$(document).on('tap', '#start_btn', function(){
				$('#start_cover').hide();
			});
		});
	</script>
</div>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    wx.config({
       debug: false,
       appId: '{{jsconfig['appid']}}',
       timestamp: {{jsconfig['timestamp']}},
       nonceStr: '{{jsconfig['noncestr']}}',
       signature: '{{jsconfig['signature']}}',
       jsApiList: [
         'checkJsApi',
         'onMenuShareTimeline',
         'onMenuShareAppMessage',
         'onMenuShareQQ',
         'onMenuShareWeibo',
         'hideMenuItems',
         'showMenuItems',
         'hideAllNonBaseMenuItem',
         'showAllNonBaseMenuItem',
         'translateVoice',
         'startRecord',
         'stopRecord',
         'onRecordEnd',
         'playVoice',
         'pauseVoice',
         'stopVoice',
         'uploadVoice',
         'downloadVoice',
         'chooseImage',
         'previewImage',
         'uploadImage',
         'downloadImage',
         'getNetworkType',
         'openLocation',
         'getLocation',
         'hideOptionMenu',
         'showOptionMenu',
         'closeWindow',
         'scanQRCode',
         'chooseWXPay',
         'openProductSpecificView',
         'addCard',
         'chooseCard',
         'openCard'
       ]
   });
   wx.ready(function(){
		wx.onMenuShareTimeline({
			title: '别整天窝在办公室里，钙动动啦！', // 分享标题
			desc: '据说好多人都情不自禁地动起来啦', // 分享描述
			link: 'http://geq.socialjia.com/crazytablet/entrance', // 分享链接
			imgUrl: 'http://7xjb90.com2.z0.glb.qiniucdn.com/share.jpg', // 分享图标
			success: function () {
				// 用户确认分享后执行的回调函数
			},
			cancel: function () {
				// 用户取消分享后执行的回调函数
			}
		});
		wx.onMenuShareAppMessage({
			title: '别整天窝在办公室里，钙动动啦！', // 分享标题
			desc: '据说好多人都情不自禁地动起来啦', // 分享描述
			link: 'http://geq.socialjia.com/crazytablet/entrance', // 分享链接
			imgUrl: 'http://7xjb90.com2.z0.glb.qiniucdn.com/share.jpg', // 分享图标
			type: 'link', // 分享类型,music、video或link，不填默认为link
			dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
			success: function () {
				// 用户确认分享后执行的回调函数
			},
			cancel: function () {
				// 用户取消分享后执行的回调函数
			}
		});
		wx.onMenuShareQQ({
			 title: '别整天窝在办公室里，钙动动啦！', // 分享标题
			 desc: '据说好多人都情不自禁地动起来啦', // 分享描述
			 link: 'http://geq.socialjia.com/crazytablet/entrance', // 分享链接
			 imgUrl: 'http://7xjb90.com2.z0.glb.qiniucdn.com/share.jpg', // 分享图标
			 success: function () {
				// 用户确认分享后执行的回调函数
			 },
			 cancel: function () {
				// 用户取消分享后执行的回调函数
			 }
		 });
	 });
</script>





</body>
</html>
